{
  "presets": ["next/babel"],
  "plugins": [
    "macros",
    "@babel/plugin-transform-react-jsx",
    "inline-react-svg",
    [
      "styled-components",
      { "ssr": true, "displayName": false, "preprocess": false }
    ]
  ]
}
