# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Next.js
.next/
out/
build/

# Testing
coverage/

# Misc
.DS_Store
*.pem
.vscode/
.idea/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env*.local
.env

# Turbopack
.turbo/